// ================================
// Functions
// ================================
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,900');

$shape:inherit;
@mixin roboto($color, $size, $height, $weight, $shape) {
  color:$color;
  font:$weight #{$size}/#{$height} 'Roboto', sans-serif;
  text-transform:$shape;
}
/* mixin para sprites */
@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
  background-repeat: no-repeat;
}
// extend
@mixin setWidth ($width){
  float: left;
  width: $width;
}