
.container{
  position: relative;
  width: 100%;
  padding: 0 25px;
  text-align: center;
  &:before,
  &:after{
    content: '';
    display: table;
  }
  &:after{
    clear: both;
  }

  .row{
    @include setWidth(calc(100% + 50px));
    margin-left: -25px;
    margin-right: -25px;
  }

  @media (min-width: 768px) {
    padding: 0 50px;
  }
}

$grid-gutter: 50px; // espaçamento entre as colunas
$grid-columns-mobile: 4; // Quantidade de colunas
$grid-columns-screen: 4;

// Código básico das colunas do grid
[class*="col-"]{
  float: left;
  margin: 0 ($grid-gutter / 2);
}

@for $i from 1 through $grid-columns-mobile{
  .col-sm-#{$i}{
    width: calc((100% / #{$grid-columns-mobile} * #{$i}) - 50px);
  }
}

@media (min-width: 1024px) {
  @for $i from 1 through $grid-columns-screen{
    .col-lg-#{$i}{
      width: calc((100% / #{$grid-columns-screen} * #{$i}) - 50px);
    }
  }
}