// ================================
// Project variables
// ================================

$orange: #f7941e;
$dark-orange: #b96f16;

$red: #a7223a;
$dark-red: #7d192b;

$gray: #6d6e71;
$light-gray: #d7d7d7;
$black: #231f20;

// Weights
$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$bolder: 900;

// Effects
$ease-fx: cubic-bezier(.33,.07,.35,.69);

// Grid
$gutter: 16px;
