// ================================
// Home
// ================================

// Base
@import "../base/reset";
@import "../base/variables";
@import "../base/functions";
@import "../base/grid";

// Components
@import "../components/animate";
@import "../components/btn";

// Vendor
@import '../vendor/fontawesome/fontawesome';
@import '../vendor/fontawesome/fa-brands';
@import '../vendor/fontawesome/fa-solid';
@import '../vendor/owlcarousel/owl.carousel.scss';

// Layout
@import "../layout/global";
@import "../layout/header";
@import "../layout/footer";

.home{
  .banner{
    position: relative;
    height: calc(100vh - 100px);
    @include setWidth(100%);
    .parallax-banner{
      @include setWidth(100%);
      height: 100%;
    }

    .banner-content{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      .title{
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        transform: translate(0, -50%);
        font-size: 3.6em;
        padding: 0 15px;
        color: white;
        text-align: center;
      }
    }

  }

  .products{
    position: relative;
    background: #eaeaea;
    @include setWidth(100%);
    .pre-frame{
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #eaeaea;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .title{
      color: $gray;
      font-size: 3.6em;
      margin: 100px 0 50px;
    }

    .card{
      position: relative;
      overflow: hidden;
      margin-top: 15px;
      margin-bottom: 15px;
      &:hover{
        .caption-top{
          top: 0;
          transition: top .3s .2s ease-out;
        }
        figure{
          img{
            transform: scale(1.03);
          }
        }
        .caption-bottom{
          .card-cta{
            transform: translate(0, 0);
            transition: transform .3s ease;
          }
        }
      }
      .caption-top{
        z-index: 2;
        position: absolute;
        top: -130px;
        left: 0;
        width: 100%;
        background: rgba(167,34,58,.8);
        height: 130px;
        transition: top .3s $ease-fx;
        img{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          max-height: 80%;
          max-width: auto;
        }
      }
      figure{
        z-index: 1;
        img{
          transition: transform .3s $ease-fx;
        }
      }
      .caption-bottom{
        z-index: 3;
        position: relative;
        background: white;
        padding: 15px 10px;
        transition: all .3s $ease-fx;
        .card-cta{
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          min-height: 120px;
          padding: 30px 10px;
          transform: translate(0, 100%);
          transition: transform .3s $ease-fx;
          background: white;
          p{
            font-size: 1.8em;
            color: gray;
            margin-bottom: 30px;
          }
        }
      }
    }

    .btn-large{
      margin: 40px 0;
    }
  }

  .spotlight{
    @include setWidth(100%);
    padding: 60px 0;
    background: white;
    .spot{
      &:last-of-type{
        margin-top: 50px;
      }
      .title{
        z-index: 2;
        position: relative;
        padding: 20px 0 20px 60px;
        color: $red;
        font-size: 2.6em;
        text-align: left;
        .ilustration{
          position: absolute;
          top: 50%;
          left: -20px;
          width: 60px;
          height: 15px;
          background: $red;
          border-radius: 10px;
          transform: translate(0, 28px);
          &:before{
            content: '';
            position: absolute;
            bottom: 15px;
            left: 0;
            height: 78px;
            width: 60px;
            background: $red;
            background: url(../../img/ilustracao.png) center no-repeat;
            background-size: cover;
          }
        }
      }

      .spot-article{
        z-index: 1;
        @include setWidth(100%);
        text-decoration: none;
        &:hover{
          .thumb{
            img{
              transform: scale(1.05);
            }
          }
        }
        .thumb{
          position: relative;
          @include setWidth(100%);
          height: 250px;
          overflow: hidden;
          background: $red;
          img{
            transition: transform .3s $ease-fx;
          }
        }
        .spot-content{
          @include setWidth(100%);
          text-align: left;
          margin-top: 20px;
          p{
            font-size: 1.8em;
            line-height: 1.2;
            color: $gray;
          }
          .btn-more{
            float: left;
            margin-top: 35px;
            font-size: 1.2em;
          }
        }
      }
    }
  }

  .news{
    position: relative;
    background: $red;
    @include setWidth(100%);
    .news-spotlight{
      position: absolute;
      top: 0;
      left: 0;
      @include setWidth(100%);
      height: 100%;
      &:hover{
        figure{
          img{
            transform: scale(1.05);
          }
        }
      }
      figure{
        position: absolute;
        height: 100%;
        img{
          transition: transform .3s $ease-fx;
        }
        figcaption{
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          padding: 50px;
          background: rgba(35,31,32,.9);
          color: white;
          .date, p{
            line-height: 1.3;
          }
          .date{
            font-size: 1.4em;
          }
          p{
            font-size: 1.8em;
          }
        }
      }
    }

    .recent-news{
      float: right;
      width: 100%;
      padding: 25px 15px 10px 15px;

      .title{
        color: white;
        @include setWidth(100%);
        font-size: 2.6em;
      }
      .btn-more{
        float: left;
        margin-top: 12px;
      }

      .news-list{
        @include setWidth(calc(100% + 100px));
        margin: 30px -50px 0 -50px;

        .news-item{
          @include setWidth(100%);
          a{
            @include setWidth(100%);
            padding: 30px 50px;
            color: #f8a6b5;
            text-decoration: none;
            transition: color .3s $ease-fx, background .3s $ease-fx;
            &:hover{
              background: $dark-red;
              color: white;
            }
            .date, p{
              line-height: 1.3;
            }
            .date{
              font-size: 1.4em;
            }
            p{
              font-size: 1.8em;
            }
          }
        }
      }

    }
  }

  @media (max-width: 767px) {
    .news{
      .news-spotlight{
        position: relative;
        height: 600px;
      }
      .recent-news{
        .news-list{
          width: calc(100% + 30px);
          margin: 30px -15px 0;
          .news-item{
            a{
              padding: 15px;
            }
          }
        }
      }
    }
  }  

  @media (min-width: 768px) {
    .banner{
      .banner-content{
        .title{
          font-size: 5.6em;
          padding: 0;
        }
      }
    }
    .products{
      .cards{
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    .spotlight{
      .spot{
        &:last-of-type{
          margin-top: 0;
        }
      }
    }
    .news{
      .news-spotlight,
      .recent-news{
        width: 50%;
      }
      .recent-news{
        padding: 50px 50px 0 50px;
        .title{
          width: calc(100% - 110px);
        }
      }
    }
  }
}