footer{
  @include setWidth(100%);
  background: white;

  .footer-top,
  .footer-bottom{
    @include setWidth(100%);
  }

  .footer-top{
    padding: 30px 0;
  }

  .title{
    text-align: left;
    font-size: 1.8em;
    color: $gray;
    padding: 0 0 20px 5px;
  }


  .facebook-widget{
    @include setWidth(100%);
    .fb-page{
      width: 100%;
    }
  }

  .instagram-widget{
    @include setWidth(100%);
    margin-top: 30px;
    .owl-nav{
      margin-top: 15px;
      .owl-prev,
      .owl-next{
        height: 30px;
        width: 30px;
        border: 2px solid $gray;
        border-radius: 50%;
        color: $gray;
        transition: all .3s $ease-fx;
        &:hover{
          background: $red;
          color: white;
          border-color: $red;
        }
        span{
          display: none;
        }
      }
      .owl-prev{
        margin-right: 10px;
      }      
    }
  }

  .footer-bottom{
    background: $light-gray;
    padding: 40px 0;
    .phones,
    .email{
      @include setWidth(100%);
      text-align: center;
      color: $gray;
      .fa{
        margin-right: 10px;
        font-size: 1.8em;
      }
      a{
        color: $gray;
        text-decoration: none;
        font-size: 1.8em;
        .fa{
          font-size: 1em;
        }
      }
    }
  }

  @media (max-width: 767px) {
    .facebook-widget,
    .instagram-widget{
      padding: 0 15px;
    }
    .footer-bottom{
      .phones{
        a, .fa{
          display: block;
          margin: 10px auto;
        }
      }
    }
  }


  @media (min-width: 768px){
    width: calc(100% - 270px);
    float: right;

    .footer-top{
      padding: 80px 0;
    }

    .facebook-widget{
      width: 29.393%;
      margin: 0 25px;
    }
    .instagram-widget{
      position: relative;
      width: 60.6%;
      margin-top: 0;
      .owl-nav{
        position: absolute;
        top: -45px;
        right: 0;
        margin-top: 0;
      }
    }
    .footer-bottom{
      .phones,
      .email{
        width: auto;
        text-align: left;
      }
      .phones{
        a, .fa{
          margin: 0;
        }
        a{
          border-right: 2px solid $gray;
          padding-right: 10px;
          margin-right: 10px;
          &:last-child{
            border: none;
            padding-right: 0;
            margin-right: 0;
          }
        }
        .fa{
          margin-right: 10px;
        }
      }
      .email{
        margin-left: 30px;
      }
    }
  }
}