body {
  background: white;
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;

  // font-size mobile
  font-size: 41.3%;
  // font-size desktop
  @media (min-width: 1024px) {
    font-size: 62.5%;
  }

  &.hidden{
    overflow: hidden;
  }

  b{
    font-weight: $bolder;
  }

  *{
    font-family: 'Roboto', sans-serif;
    &::selection{
      background: $red;
      color: white;
    }
  }
}

.content{
  margin-top: 105px;
  @media (min-width: 768px){
    margin-top: 0;
    min-height: calc(100vh);
    width: calc(100% - 270px);
    float: right;
  }
}

.title{
  font-weight: $thin;
  text-transform: uppercase;
  line-height: 1.2;
}

.js-fill{
  img{
    max-width: unset;
  }
}


// ================================
// Utils
// ================================

.hide{
  display: none !important;
}

.left{
  float: left;
}

.right{
  float: right;
}

.upper{
  text-transform: uppercase;
}

.full-width{
  @include setWidth(100%);
}

.only{
  @media (max-width: 1023px ){
    &-screen{
      display: none !important;
    }
  }
  @media (min-width: 1024px ){
    &-mobile{
      display: none !important;
    }
  }
}