header {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  box-shadow: 0px 0px 8px 0px rgba(222,222,222,1);
  overflow-x: hidden;
  overflow-y: auto;
  @include setWidth(100%);

  .header-wrapper{
    @include setWidth(100%);
  }

  .logo{
    overflow: hidden;
  }

  .menu-content{
    display: none;
    position: relative;
    text-align: center;
    height: 620px;
    @include setWidth(100%);
    ul{
      li{
        @include setWidth(100%);
        &.social{
          display: inline-block;
          float: none;
          width: auto;
          a{
            padding: 5px;
            margin: 0 10px;
            font-size: 2.5em;
            color: $red;
          }
        }
        a{
          display: inline-block;
          padding: 15px 20px;
          margin: 10px 0;
          text-decoration: none;
          border-radius: 20px;
          background: transparent;
          @include roboto($gray, 1.4em, 1, $regular, uppercase);
          transition: color .3s $ease-fx, background .3s $ease-fx;
          &:hover{
            color: $orange;
          }
          &.active{
            background: $red;
            color: $orange;
            font-weight: $bold;
          }
        }
      }
    }
    .da-dpa-sign{
      position: absolute;
      left: 0;
      bottom: 0;
      background: white;
      @include setWidth(100%);
      a{
        @include setWidth(100%);
        border-top: 1px solid $light-gray;
        color: $gray;
        text-decoration: none;
        text-transform: none;
        padding: 20px 5px;
        font-size: 1.6em;
      }
    }
  }

  @media (max-width: 767px) {
    background: #f8f8f8;
    max-height: 100vh;
    .logo{
      @include setWidth(35%);
      margin: 10px 0 10px 15px;
    }
    
    .btn-menu {
      z-index: 999999;
      position: absolute;
      top: 30px;
      right: 15px;
      padding: 15px 12px;
      cursor: pointer;
      transition-property: opacity, filter, background;
      transition-duration: 0.15s;
      transition-timing-function: linear;
      background-color: transparent;
      border: none;
      &.active{
        .btn-menu-box{
          .btn-menu-inner {
            transition-delay: 0.22s;
            background-color: transparent;
            &:before {
              top: 0;
              transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
              transform: translate3d(0, 8px, 0) rotate(45deg);
            }
            &:after{
              top: 0;
              transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
              transform: translate3d(0, 8px, 0) rotate(-45deg);
            }
          }
        }
      }
      .btn-menu-box {
        width: 26px;
        height: 16px;
        display: inline-block;
        position: relative;
        .btn-menu-inner {
          position: absolute;
          display: block;
          top: 2px;
          margin-top: -2px;
          width: 26px;
          height: 2px;
          background-color: $red;
          border-radius: 4px;
          transition: background-color 0s 0.13s linear;
          &:before,
          &:after{
            content: "";
            display: block;
            width: 26px;
            height: 2px;
            background-color: $red;
            border-radius: 4px;
            position: absolute;
            transition-property: transform;
            transition-duration: 0.15s;
            transition-timing-function: ease;
          }
          
          &:before {
            top: 8px;
            transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
          }
          &:after {
            top: 16px;
            bottom: -10px;
            transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
          }
        }
      }
    }
  }

  @media (min-width: 768px) {
    width: 270px;
    height: 100vh;

    .logo{
      width: 175px;
      margin: 15px auto 15px;
      display: block;
    }
    .menu-content{
      display: block;
      height: 545px;
      ul{
        li{
          a{
            margin: 5px 0;
          }
        }
      }
    }
  }

  @media (min-width: 1500px) {
    .logo{
      margin: 10px auto 25px;
    }
    .menu-content{
      ul{
        li{
          a{
            margin: 5px 0;
          }
        }
      }
    }
  }

  @media (min-width: 1900px) {
    .logo{
      margin: 35px auto 35px;
    }
    .menu-content{
      ul{
        li{
          a{
            margin: 15px 0;
          }
        }
      }
    }
  }  
}