.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  z-index: 0;
}

@keyframes fadeInDown{
  0% {
    opacity: 0;
    transform: translate3d(0, -150px, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInDownMenu{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp{
  0% {
    opacity: 0;
    transform: translate3d(0, 150px, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInUpCenter{
  0% {
    opacity: 0;
    transform: translate(-50%, calc(-50% + 150px));
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes fadeInRight{
  0% {
    opacity: 0;
    transform: translate3d(-150px, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft{
  0% {
    opacity: 0;
    transform: translate3d(150px, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeIn{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  
  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }
  
  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  
  40% {
    transform: scale3d(.9, .9, .9);
  }
  
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }
  
  80% {
    transform: scale3d(.97, .97, .97);
  }
  
  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.6, .6, .6);
  }

  50% {
    opacity: 1;
  }
}

@keyframes showSmoke {
  from {
    width: 0;
  }

  to {
    width: 60px;
  }
}

@keyframes showSmokeBefore {
  from {
    height: 0;
  }

  to {
    height: 78px;
  }
}

.showSmoke{
  animation-name: showSmoke;
  &:before{
    animation-name: showSmokeBefore;
    animation-play-state: running;
    animation-duration: 1s;
    animation-fill-mode: both;
    z-index: 0;
  }
}

.zoomIn {
  animation-name: zoomIn;
}

.bounceIn {
  animation-name: bounceIn;
}

.fadeIn{
  animation-name: fadeIn;
}

.fadeInUp{
  animation-name: fadeInUp;
}

.fadeInUpCenter{
  animation-name: fadeInUpCenter;
}

.fadeInDown{
  animation-name: fadeInDown;
}

.fadeInLeft{
  animation-name: fadeInLeft;
}

.fadeInRight{
  animation-name: fadeInRight;
}

.delayed{
  animation-delay: .45s;
}