.btn{
  outline: none;
  cursor: pointer;
  background: 0 0;
  border: none;

  &.btn-more{
    font-weight: $bolder;
    font-size: 1.2em;
    text-transform: uppercase;
    text-decoration: none;
    &:hover{
      .fa{
        margin-left: 8px;
      }
    }
    &.orange{
      color: $orange;
    }
    &.red{
      color: $red;
    }
    .fa{
      line-height: .5;
      margin-left: 5px;
      transition: all .15s $ease-fx;
    }
  }

  &.btn-large{
    display: inline-block;
    border: 2px solid $black;
    padding: 15px 50px;
    border-radius: 30px;
    background: transparent;
    font-size: 1.6em;
    font-weight: $bolder;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s $ease-fx;
    &.gray{
      color: $gray;
      border-color: $gray;
      &:hover{
        color: $orange;
        border-color: $red;
        background: $red;
      }
    }
  }
}